.wrapper {
    background-image: linear-gradient(350deg, #382b24 0%, #06091d 60%);
    /* background-image: linear-gradient(350deg, #251913 0%, #06091d 80%, 350deg, #251913 0%);  MAYBE*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: filter 2s ease-out; /* Smooth transition for the blur */
  }

  .about-me.blur {
    filter: blur(5px); /* Adjust the blur amount as needed */
  }

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    color: rgb(224, 224, 224);
  }

  .description {
    font-family: "Montserrat", sans-serif;
    color: rgb(224, 224, 224);
    font-size: 1.4rem;
    max-width: 600px;
    font-weight: 150;
  }

  h1 {
    padding: 0;
    margin: 0;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .socials {
    display: flex;
    margin-top: 10px;
    height: 50px;
    align-items: center;
    gap: 25px;
  }

  .socials svg {
    height: 30px;
    color: #d6d6d6;
    transition: color 0.5s ease-out;
    cursor: none;
  }

  .socials svg:hover {
    color: rgb(255, 157, 45);
    cursor: none;
  }

  .socials a {
    cursor: none;
  }

  .socials a:hover {
    cursor: none;
  }

  .particle-menu {
    position: relative;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(224, 224, 224);
    margin-bottom: 7rem;
    transition: filter 2s ease-out, color 1.5s ease-out; /* Smooth transition for the blur */
  }

  .particle-menu:hover {
    color: rgb(255, 157, 45);
  }

  .particle-menu.blur {
    filter: blur(5px);
  }

.landing-wrapper.fade-out {
    opacity: 0;
}